<ion-view style="" class=" " id="page8" title="Account Information">
    <ion-content class="has-header" padding="true">


      <h3 align="center">Logged in as : {{ name }} </h3>
      <div align="center" style="border: #000000 solid">

        <p>ID Number : {{ IDNum }} </p>
        <p>Voted National : {{ votedNational }}</p>
        <p>Voted Provincial : {{ votedProvincial }} </p>
        <p>Vote Balance : {{ votes }} </p>
        <p>Activation Status : {{ activated }}</p>

      </div>
      <br>

      <h5>Activation Stations Near {{ locationRegistered }} : </h5>
      <div align="center">
        <p>Brooklyn Primary School</p>
        <p>The University of Pretoria(Hatfield Campus)</p>
        <p>The University of Pretoria(Mamelodi Campus)</p>
        <p>Brooklyn Police Station</p>

      </div>

      <a class=" button button-stable  button-block button-calm" id="eVotingLogin-button1"   ng-click="logout()">Log Out</a>

    </ion-content>


</ion-view>


