
<!--<ion-view style="" class=" " id="page3" title="Election Information">
    <ion-content class="has-header" padding="true"></ion-content> -->


  <ion-view style="" class=" " id="page3" title="Election Information">
    <ion-content class="has-header" padding="true"></ion-content>
  </ion-view>

  <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
  </head>
  <body ng-app="app" animation="slide-left-right-ios7">
  <div style="">
    <ion-side-menus data-componentid="side-menu21" style="" enable-menu-with-back-views="false">
      <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
          <ion-nav-back-button></ion-nav-back-button>
          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-side-menu-content>
      <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
          <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
          <a data-componentid="button4" class=" button button-positive  button-block " style="text-align:left;" id="menu-button4" menu-close="" ui-sref="tabsController.electionInformation">Election Information</a>
          <a data-componentid="button5" class=" button button-positive  button-block " style="text-align:left;" id="menu-button5" menu-close="" ui-sref="tabsController.voteNational">Vote National</a>
          <a data-componentid="button6" class=" button button-positive  button-block " style="text-align:left;" id="menu-button6" menu-close="" ui-sref="tabsController.voteProvincial">Vote Provincial</a>
          <a data-componentid="button7" class=" button button-positive  button-block " style="text-align:left;" id="menu-button7" menu-close="" ui-sref="accountInformation">Account Information</a>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
  </div>
  </body>
  </html>



</ion-view>

