<!--div class="row">

  <div class="col-lg-6 col-xs-6">hgtytycgcutf</div>

  <div class="col-lg-6 col-xs-6">5465775767 <span class="glyphicon glyphicon-cloud  pull-right"></span></div>

</div-->

<div ng-include src="'views/nav.html'"></div>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h3>Admin</h3>
          <div><br>
            <a class="btn btn-success" value="AddUser" href="#/adminAddUser">Add a user</a><br><br>
            <a class="btn btn-success" value="DeactivateUser" href="#/adminDeactivateUser">Deactivate a user</a>
          </div>
      </div>
    </div>
  </div>
