  <div ng-include src="'views/nav.html'"></div>

<div class="container">
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="eVoting Website"><br>
    </p>
    <p>Welcome to the eVoting system created by Team CodeX. We hope that the system simplifies the way elections work and that it saves time by doing so. </p>
  </div>

  <div class="row marketing">
    <fieldset ng-if="!vm.isLoggedIn()">
      <legend>Login</legend>

      <label>Type of user: </label>
      <select id="userT" style="margin-left: 80px" ng-model="vm.userType">
        <option value="admin">Admin</option>
        <option value="voter">Voter</option>
        <option value="activator">Activator</option>
        <option value="party">Party</option>
      </select>

      <br>

      <label>ID Number: </label><input style="margin-left: 20px" type="text" ng-model="vm.idNum" id="idNum" name="id" class="id" placeholder="ID Number" required autofocus>
      <br>
      <label>Password: </label><input style="margin-left: 26px" type="password" ng-model="vm.password" id="password" name="Password"class="password" placeholder="Password" required>

      <br><br>

      <a style="margin-left: 160px;" class="btn btn-success" value="Sign In" ng-click="vm.checkU()"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Sign in</a>

      <br><br>

      <div class="alert alert-info"><span style="color: red">NOTE:</span> if you are a voter and have not registered yet, click <a value="Register" href="#/register">here</a></div>
    </fieldset>

    <fieldset ng-if="vm.isLoggedIn()">
      <legend class="alert alert-success">Logged in</legend>
    </fieldset>
  </div>
</div>
