<!-- Add your site or application content here -->
<div ng-controller = "NavCtrl as vm">
  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="row">
          <div class="navbar-header col-lg-6 col-xs-6">
            <img src="images/evoting.png" style="width: 40%" alt="eVoting Website">
          </div>

          <div class="collapse navbar-collapse col-lg-6 col-xs-6" id="js-navbar-collapse">
            <br><a style="margin-left: 280px" ng-if="vm.isLoggedIn()" ng-click="vm.logOut()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
