<div class="jumbotron">
  <h1>Register</h1>

  <form>
    <label>ID Number: </label><input style="margin-left: 20px" type="text" id="idNum" name="id" class="id" placeholder="ID Number" required autofocus>
    <br><br>
    <label>Password: </label><input style="margin-left: 20px" type="password" id="password" name="Password"class="password" placeholder="Password" required>

    <br><br>

    <a style="margin-left: 30px" class="btn btn-success" value="Sign In" ng-click="vm.login()">Sign in</a>
  </form>
</div>
