<div ng-include src="'views/nav.html'"></div>

<div class="container">
  <div class="jumbotron">

    <div style="background: rgba(14, 5, 21, 0.76)">
      <h2 align="center">  {{ thePartyName }}  </h2>
      <div style="border-radius: 95%; height: 20px"> <img style="border-radius: 120%; height: 60px; bottom: 50px" src="/www/img/politician.jpg"> </div>
    </div>
    <div style="position: absolute; top:150px; align-content: center">
      <h3 align="center">{{ thePartyName }} Information</h3>
      <p> Some relevant party information</p>

    </div>
  </div>
 </div>
